
@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900');
/* Base CSS */
.alignleft {
    float: left;
    margin-right: 15px;
}
.alignright {
    float: right;
    margin-left: 15px;
}
.aligncenter {
    display: block;
    margin: 0 auto 15px;
}

/*some startar pack*/


a:focus, input:focus, textarea:focus, button:focus { outline: 0 solid }
img {
    max-width: 100%;
    height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 15px;
   }
body {
    font-family: 'Roboto', sans-serif;
    

}
a:hover { text-decoration: none }

/* Remove Chrome Input Field's Unwanted Yellow Background Color */
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

/*some startar pack*/

input[type="text "], input[type="email"], input[type="password"], input[type="tel"], input[type="url"], textarea
{
  
}



/*style is starting from here*/

.single-project-item{background-image: url(img/concert.jpg);}
.project-bg1{background-image: url(img/lady-guitar.jpg);}
.project-bg2{background-image: url(img/macbook.png);}
.project-bg3{background-image: url(img/macbook.png);}
.project-bg4{background-image: url(img/ipad.png);}
.project-bg5{background-image: url(img/hearthand.jpg);}

.project-bg6{background-image: url(img/woman-camera.jpg);}
.project-bg7{background-image: url(img/macbook-2.png);}
.project-bg8{background-image: url(img/guitar.jpg);}
.project-bg9{background-image: url(img/iphone-1.png);}


.section-padding {
    padding: 80px 0;
}
.project-titles {
    margin: 0 0 50px;
    padding: 0;
    list-style: none;
}

.project-titles li {
    display: inline-block;
    padding-right: 20px;
        cursor: pointer;
   
}
.row .project-list .col-md-4{
      padding-right: 7.5px;
    padding-left: 7.5px;
}
.single-project-item a, .single-project-item span,.project-titles li.active {
    color: #00ddd6;
}

.row.project-list {
    margin-right: -7.5px;
    margin-left: -7.5px;
}
.single-project-item {
    height: 300px;
    background-size: cover;
    background-position: center;
    background-color: red;
    margin-bottom: 15px;
}



.project-hover:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    background: #000;
    opacity: .5;
    z-index: -1;
}
.project-hover {
    position: relative;
    z-index: 2;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 1s;
}
.project-hover a {
    position: absolute;
    right: 30px;
    top: 18px;
    font-size: 27px;
}

.project-hover h4 {
    font-weight: 400;
    color: #fff;
    margin: 0;
    position: absolute;
    bottom: 30px;
    left: 30px;
}

.project-hover h4 span {
    display: block;
    font-size: 80%;
    margin-top: 11px;
}

.single-project-item:hover .project-hover {
    opacity: 1;
}



.row .projects-list .col-md-4:nth-child(1) .single-project-item,
.row .projects-list .col-md-4:nth-child(5) .single-project-item,
.row .projects-list .col-md-4:nth-child(6) .single-project-item {
    height: 615px;
}